header 
	a('href='/').home Stagecoach
		a(href='/calvary', title='Charge!') Calvary
		a(href='/grid', title='Fjord the river.') Grid
		small "Danger holds the reins as the devil cracks the whip!"
			a(href='https://twitter.com/bmuenzenmeyer') @bmuenzenmeyer