@import url(normalize.min.css);
/* line 8, stagecoachConstants.scss */
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

/* line 12, stagecoachConstants.scss */
a {
  color: #0a5fc7;
  font-size: .5em;
  text-decoration: none;
  text-shadow: none;
}

/* line 19, stagecoachConstants.scss */
header {
  background-color: tan;
  -moz-box-shadow: 0 4px 4px -2px rgba(50, 50, 50, 0.75);
  -webkit-box-shadow: 0 4px 4px -2px rgba(50, 50, 50, 0.75);
  box-shadow: 0 4px 4px -2px rgba(50, 50, 50, 0.75);
  width: 100%;
  vertical-align: middle;
  border-top: 4px solid #0a5fc7;
}
/* line 28, stagecoachConstants.scss */
header a {
  display: inline-block;
  font-size: 1.5em;
  height: 72px;
  width: 10%;
  vertical-align: middle;
  line-height: 72px;
  text-align: center;
}
/* line 36, stagecoachConstants.scss */
header a.home {
  color: #c74309;
  text-decoration: none;
  text-shadow: 1px 1px 1px #612005;
  font-size: 56px;
  margin-left: .5em;
  text-transform: uppercase;
  font-family: Impact, "Lucida Grande", Helvetica, Arial, sans-serif;
}
/* line 45, stagecoachConstants.scss */
header a:nth-child(2) {
  margin-left: 10em;
}
/* line 48, stagecoachConstants.scss */
header a:hover:not(.home) {
  background-color: #d3a05f;
}
/* line 52, stagecoachConstants.scss */
header small {
  font-size: 1em;
  color: #612005;
  text-shadow: none;
  width: 15%;
}
/* line 57, stagecoachConstants.scss */
header small a {
  font-size: .75em;
  text-decoration: none;
}
/* line 60, stagecoachConstants.scss */
header small a:hover {
  color: #c74309;
}

/* line 67, stagecoachConstants.scss */
.container {
  padding: 0 5px;
}

/* line 1, stagecoachGrid.scss */
.clearfix, .row {
  *zoom: 1;
}
/* line 4, stagecoachGrid.scss */
.clearfix:before, .row:before, .clearfix:after, .row:after {
  display: table;
  content: "";
}
/* line 8, stagecoachGrid.scss */
.clearfix:after, .row:after {
  clear: both;
}

/* line 31, stagecoachGrid.scss */
.col1 {
  width: 5.556%;
  margin-right: 3.03%;
}

/* line 31, stagecoachGrid.scss */
.col2 {
  width: 14.141%;
  margin-right: 3.03%;
}

/* line 31, stagecoachGrid.scss */
.col3 {
  width: 22.727%;
  margin-right: 3.03%;
}

/* line 31, stagecoachGrid.scss */
.col4 {
  width: 31.313%;
  margin-right: 3.03%;
}

/* line 31, stagecoachGrid.scss */
.col5 {
  width: 39.899%;
  margin-right: 3.03%;
}

/* line 31, stagecoachGrid.scss */
.col6 {
  width: 48.485%;
  margin-right: 3.03%;
}

/* line 31, stagecoachGrid.scss */
.col7 {
  width: 57.071%;
  margin-right: 3.03%;
}

/* line 31, stagecoachGrid.scss */
.col8 {
  width: 65.657%;
  margin-right: 3.03%;
}

/* line 31, stagecoachGrid.scss */
.col9 {
  width: 74.242%;
  margin-right: 3.03%;
}

/* line 31, stagecoachGrid.scss */
.col10 {
  width: 82.828%;
  margin-right: 3.03%;
}

/* line 31, stagecoachGrid.scss */
.col11 {
  width: 91.414%;
  margin-right: 3.03%;
}

/* line 36, stagecoachGrid.scss */
.col12 {
  width: 100%;
  margin-right: 3.03%;
  margin-right: 0;
}

/* line 42, stagecoachGrid.scss */
.offset1 {
  margin-left: 8.586%;
}

/* line 42, stagecoachGrid.scss */
.offset2 {
  margin-left: 17.172%;
}

/* line 42, stagecoachGrid.scss */
.offset3 {
  margin-left: 25.758%;
}

/* line 42, stagecoachGrid.scss */
.offset4 {
  margin-left: 34.343%;
}

/* line 42, stagecoachGrid.scss */
.offset5 {
  margin-left: 42.929%;
}

/* line 42, stagecoachGrid.scss */
.offset6 {
  margin-left: 51.515%;
}

/* line 42, stagecoachGrid.scss */
.offset7 {
  margin-left: 60.101%;
}

/* line 42, stagecoachGrid.scss */
.offset8 {
  margin-left: 68.687%;
}

/* line 42, stagecoachGrid.scss */
.offset9 {
  margin-left: 77.273%;
}

/* line 42, stagecoachGrid.scss */
.offset10 {
  margin-left: 85.859%;
}

/* line 42, stagecoachGrid.scss */
.offset11 {
  margin-left: 94.444%;
}

/* line 47, stagecoachGrid.scss */
.container {
  text-align: center;
  margin: 1em auto;
  width: 97%;
}

/* line 53, stagecoachGrid.scss */
.row {
  width: 100%;
  text-align: center;
  margin: 1em auto;
}
/* line 58, stagecoachGrid.scss */
.row .col {
  display: inline-block;
}
/* line 60, stagecoachGrid.scss */
.row .col:last-child {
  margin-right: 0;
}

/* line 66, stagecoachGrid.scss */
.lone {
  display: block;
  margin-right: 0;
}

/* line 74, stagecoachGrid.scss */
img,
embed,
object,
video {
  max-width: 100%;
}

/* line 5, grid.scss */
.bar {
  background: #c74309;
  height: 2em;
  margin-bottom: 3em;
  color: white;
  line-height: 2em;
  overflow: hidden;
  white-space: nowrap;
}

/* line 15, grid.scss */
.nested {
  margin-bottom: 0;
  margin-top: 0;
}

/* line 20, grid.scss */
h3 {
  text-align: center;
}

/* line 24, grid.scss */
hr {
  margin-top: 10em;
}

/* line 28, grid.scss */
#grid {
  margin-top: 3em;
}

/*
@media all and (max-width: 320px){
	@for $i from 1 through 11{
		.col#{$i}{
			@include width(12);
			margin-right: 0;
		}
	}
}
*/
/* line 43, grid.scss */
.collapse {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition: height 0.35s ease;
  -moz-transition: height 0.35s ease;
  -o-transition: height 0.35s ease;
  transition: height 0.35s ease;
}
/* line 51, grid.scss */
.collapse.in {
  height: auto;
}

/* line 56, grid.scss */
.plugins {
  text-align: left;
}

/* line 60, grid.scss */
.fillContainer {
  border: 1px solid black;
  height: 8em;
}

/* line 65, grid.scss */
.fillTest {
  width: 10em;
  background: black;
  color: white;
  overflow: hidden;
  white-space: nowrap;
}

/* line 73, grid.scss */
#gnatTest {
  width: 8em;
  height: 4em;
}
