/* line 1, stagecoachGrid.scss */
.clearfix, .row {
  *zoom: 1;
}
/* line 4, stagecoachGrid.scss */
.clearfix:before, .row:before, .clearfix:after, .row:after {
  display: table;
  content: "";
}
/* line 8, stagecoachGrid.scss */
.clearfix:after, .row:after {
  clear: both;
}

/* line 31, stagecoachGrid.scss */
.col1 {
  width: 5.556%;
  margin-right: 3.03%;
}

/* line 31, stagecoachGrid.scss */
.col2 {
  width: 14.141%;
  margin-right: 3.03%;
}

/* line 31, stagecoachGrid.scss */
.col3 {
  width: 22.727%;
  margin-right: 3.03%;
}

/* line 31, stagecoachGrid.scss */
.col4 {
  width: 31.313%;
  margin-right: 3.03%;
}

/* line 31, stagecoachGrid.scss */
.col5 {
  width: 39.899%;
  margin-right: 3.03%;
}

/* line 31, stagecoachGrid.scss */
.col6 {
  width: 48.485%;
  margin-right: 3.03%;
}

/* line 31, stagecoachGrid.scss */
.col7 {
  width: 57.071%;
  margin-right: 3.03%;
}

/* line 31, stagecoachGrid.scss */
.col8 {
  width: 65.657%;
  margin-right: 3.03%;
}

/* line 31, stagecoachGrid.scss */
.col9 {
  width: 74.242%;
  margin-right: 3.03%;
}

/* line 31, stagecoachGrid.scss */
.col10 {
  width: 82.828%;
  margin-right: 3.03%;
}

/* line 31, stagecoachGrid.scss */
.col11 {
  width: 91.414%;
  margin-right: 3.03%;
}

/* line 36, stagecoachGrid.scss */
.col12 {
  width: 100%;
  margin-right: 3.03%;
  margin-right: 0;
}

/* line 42, stagecoachGrid.scss */
.offset1 {
  margin-left: 8.586%;
}

/* line 42, stagecoachGrid.scss */
.offset2 {
  margin-left: 17.172%;
}

/* line 42, stagecoachGrid.scss */
.offset3 {
  margin-left: 25.758%;
}

/* line 42, stagecoachGrid.scss */
.offset4 {
  margin-left: 34.343%;
}

/* line 42, stagecoachGrid.scss */
.offset5 {
  margin-left: 42.929%;
}

/* line 42, stagecoachGrid.scss */
.offset6 {
  margin-left: 51.515%;
}

/* line 42, stagecoachGrid.scss */
.offset7 {
  margin-left: 60.101%;
}

/* line 42, stagecoachGrid.scss */
.offset8 {
  margin-left: 68.687%;
}

/* line 42, stagecoachGrid.scss */
.offset9 {
  margin-left: 77.273%;
}

/* line 42, stagecoachGrid.scss */
.offset10 {
  margin-left: 85.859%;
}

/* line 42, stagecoachGrid.scss */
.offset11 {
  margin-left: 94.444%;
}

/* line 47, stagecoachGrid.scss */
.container {
  text-align: center;
  margin: 1em auto;
  width: 97%;
}

/* line 53, stagecoachGrid.scss */
.row {
  width: 100%;
  text-align: center;
  margin: 1em auto;
}
/* line 58, stagecoachGrid.scss */
.row .col {
  display: inline-block;
}
/* line 60, stagecoachGrid.scss */
.row .col:last-child {
  margin-right: 0;
}

/* line 66, stagecoachGrid.scss */
.lone {
  display: block;
  margin-right: 0;
}

/* line 74, stagecoachGrid.scss */
img,
embed,
object,
video {
  max-width: 100%;
}
